@media only screen and (max-width: 600px) {
   html,body{
   	font-size: 6px;
   }
	
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    html,body{
    	font-size: 8px;
    }
		
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 868px) {
    html,html,body{
		font-size: 10px;
	}
	
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px) {
    html,html,body{
    	font-size: 12px;
    }
		.left_hz{
			width: 90%;
		}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html,body{
		font-size: 13px;
	}
}